.dangnhap,
.register {
    width: 600px;
    margin: 10px auto;
}

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    opacity: 0.8;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('https://fonts.googleapis.com/css?family=Montserrat');
#ads {
    margin: 30px 0 30px 0;
}

#ads .card-notify-badge {
    position: absolute;
    left: -10px;
    top: -20px;
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .card-notify-year {
    position: absolute;
    right: -10px;
    top: -20px;
    background: #ff4444;
    border-radius: 50%;
    text-align: center;
    color: #fff;
    font-size: 14px;
    width: 50px;
    height: 50px;
    padding: 15px 0 0 0;
}

#ads .card-detail-badge {
    background: #f2d900;
    text-align: center;
    border-radius: 30px 30px 30px 30px;
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
}

#ads .card:hover {
    background: #fff;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
    border-radius: 4px;
    transition: all 0.3s ease;
}

#ads .card-image-overlay {
    font-size: 20px;
}

#ads .card-image-overlay span {
    display: inline-block;
}

#ads .ad-btn {
    text-transform: uppercase;
    width: 150px;
    height: 40px;
    border-radius: 80px;
    font-size: 16px;
    line-height: 35px;
    text-align: center;
    border: 3px solid #e6de08;
    display: block;
    text-decoration: none;
    margin: 20px auto 1px auto;
    color: #000;
    overflow: hidden;
    position: relative;
    background-color: #e6de08;
}

#ads .ad-btn:hover {
    background-color: #e6de08;
    color: #1e1717;
    border: 2px solid #e6de08;
    background: transparent;
    transition: all 0.3s ease;
    box-shadow: 12px 15px 20px 0px rgba(46, 61, 73, 0.15);
}

#ads .ad-title h5 {
    text-transform: uppercase;
    font-size: 18px;
}


/*--------------------------------------------------------------------------*/

@import url('https://fonts.googleapis.com/css?family=Abril+Fatface');
@import url('https://fonts.googleapis.com/css?family=Montserrat:500,600,700');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700');
body,
html {
    height: 100%;
    width: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Source Sans Pro', sans-serif;
}


/* ========== Universal Stylings ========== */

h1,
h2,
h3,
h4,
h5 {
    position: relative;
    font-family: 'Montserrat', sans-serif;
}

h6 {
    position: relative;
}

.bg-primary {
    background-color: #B47F41!important;
}

.bg-dark {
    background-color: #0f0a05!important;
}

.bg-white {
    background-color: #fff;
}

.text-inverse {
    color: #074052;
}

.text-primary {
    color: #B47F41!important;
}

a.text-primary {
    color: #B47F41;
}

a.text-primary:hover {
    color: #916634!important;
    text-decoration: none;
}

.btn {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    font-weight: 600;
}

.btn-primary {
    background-color: #B47F41;
    border-color: #B47F41;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #916634;
    border-color: #916634;
}

.btn-capsul {
    border-radius: 50px;
}

i.box-circle-outline {
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    height: 50px;
    line-height: 50px;
    text-align: center;
    width: 50px;
}

i.box-circle-solid {
    background-color: #35CBDF;
    border-radius: 50%;
    color: #fff;
    font-size: 22px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    width: 55px;
}

.text-underline-white:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    left: 50%;
    margin-left: -50px;
    background: #fff;
    bottom: -15px;
    border-radius: 10px;
}

.text-underline-rb-white:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    left: 0;
    background: #fff;
    bottom: -15px;
    border-radius: 10px;
}

.text-underline-primary:before {
    content: "";
    position: absolute;
    width: 50px;
    height: 4px;
    left: 50%;
    margin-left: -25px;
    background: #35CBDF;
    bottom: -15px;
    border-radius: 10px;
}

.text-underline-rb-primary:before {
    content: "";
    position: absolute;
    width: 100px;
    height: 4px;
    left: 0;
    background: #35CBDF;
    bottom: -15px;
    border-radius: 10px;
}

.bg-overlay:before {
    content: "";
    background: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-overlay-primary:before {
    content: "";
    background: rgba(49, 31, 10, 0.5);
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
}

.bg-right {
    background: url("https://grafreez.com/wp-content/temp_demos/razor/img/sec-bg-01.jpg");
    background-repeat: no-repeat;
    background-position: top right;
}

.sec-bg-02 {
    background: url("https://grafreez.com/wp-content/temp_demos/razor/img/sec-bg-02.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.sec-bg-03 {
    background: url("https://grafreez.com/wp-content/temp_demos/razor/img/sec-bg-03.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.sec-bg-04 {
    background: url("https://grafreez.com/wp-content/temp_demos/razor/img/sec-bg-04.jpg");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.parallax {
    background-attachment: fixed!important;
}

.font-abril {
    font-family: 'Abril Fatface', cursive;
}


/* ========== Page Loading Style ========== */

.loaders {
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: row;
    flex-wrap: wrap;
}

.loaders .loader {
    box-sizing: border-box;
    display: flex;
    flex: 0 1 auto;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 25%;
    max-width: 25%;
    height: 200px;
    align-items: center;
    justify-content: center;
}

.loader {
    display: table;
    height: 100%;
    position: fixed;
    width: 100%;
    z-index: 1200;
}

.loader-bg {
    background: #0F0A06;
}

.loader-inner {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}


/* ========== Top Navigation ========== */

.top-nav {
    height: 80px;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}

.top-nav .navbar-nav li .nav-link {
    color: #fff;
    font-size: 14px;
    padding: 6px 26px;
    margin: 6px 5px 0;
    font-weight: 400;
    text-transform: uppercase;
    transition: 0.2s ease-in;
    -webkit-transition: 0.2s ease-in;
    -moz-transition: 0.2s ease-in;
}

.top-nav li a.nav-link:hover,
.top-nav .nav-item.active a.nav-link {
    color: #fff;
    background-color: #B47F41;
    border-color: #B47F41;
    border-radius: 50px;
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
}

.top-nav .navbar-brand {
    font-size: 28px;
    color: #fff;
    font-family: 'Montserrat', sans-serif;
}

.top-nav .search-box li a.nav-link {
    border: 1px solid #B47F41;
    padding: 6px 15px;
}

.top-nav.light-header {
    height: 60px;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.23);
    transition: 0.5s ease-in;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    z-index: 9999;
}

.top-nav.light-header .navbar-brand {
    color: #fff;
}

.top-nav.light-header .search-box li a.nav-link {
    padding: 6px 15px;
    border: 1px solid #fff;
}

.top-nav.light-header .search-box li a.nav-link i {
    color: #fff!important;
}


/* ========== Intro Header ========== */

.intro {
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    z-index: 1;
}

.intro.intro-small {
    height: 60%;
}

.intro-bg {
    background: url("https://grafreez.com/wp-content/temp_demos/razor/img/intro-bg-01.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.caption-container {
    width: 50rem;
    margin: 0 auto;
}

.caption-two-panel {
    display: flex;
    align-items: center;
}

.intro h1 {
    font-weight: 700;
    font-family: 'Abril Fatface', cursive;
    font-size: 3.8rem;
}

.intro-caption .btn i {
    float: left;
    margin-right: 15px;
}

.intro .carousel-item {
    height: 100vh;
}

.intro .carousel-item::before {
    content: "";
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100vh;
}

.intro .carousel-caption {
    top: 25%;
}


/* ========== Who We Are ========== */

.info-section {
    float: left;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    z-index: 1;
}

.info-section h2 {
    font-weight: 700;
    font-size: 3rem;
}

.info-section .price-count {
    font-size: 2.5rem;
}

.info-section .head-sec {
    float: left;
    width: 100%;
}

.info-section .service-block-bg {
    background-color: rgba(180, 127, 65, 0.4);
}

.info-section .service-block-bg:hover {
    background-color: rgba(180, 127, 65, 1);
}

.info-section h3 {
    font-size: 1.4rem;
}

.info-section p {
    font-size: 1rem;
    line-height: 1.3rem;
}

.info-section .box h2 {
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: 0;
}

.info-section .box i {
    font-size: 20px;
}

.info-section .box {
    display: flex;
}

.info-section .text-box {
    flex: 1 1 0;
    text-align: left;
}

.info-section .icon-box {
    line-height: 1.2;
    width: 70px;
}

.info-section .service-block-overlay {
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.info-section .service-block-overlay:hover {
    background: #fff none repeat scroll 0 0;
    border-radius: 5px;
    box-shadow: 0 0 90px rgba(0, 0, 0, 0.1);
    float: left;
    margin-top: -10px;
    position: relative;
    width: 100%;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
}

.info-section .service-block i img {
    width: 50px;
}

.content-half {
    color: #fff;
}

.content-half ul {
    padding: 0;
    list-style: none;
}

.content-half ul li {
    margin: 15px 0;
    float: left;
    width: 100%;
}

.content-half ul li i {
    float: left;
    font-size: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.content-half ul li .list-content {
    float: left;
    margin-left: 20px;
}

.content-half ul li strong {
    font-size: 19px;
    font-weight: 700;
}

.content-half .btn {
    margin-top: 20px;
}


/*--- three Block Panel ---*/

.three-panel-block {
    float: left;
    width: 100%;
}

.three-panel-block i {
    font-size: 1.5rem;
    margin-bottom: 15px;
}

.three-panel-block i.box-round {
    border-color: inherit;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    border-radius: 50%;
}


/*--- Two Block Panel ---*/

.two-panel-block {
    float: left;
    width: 100%;
}

.two-panel-block p {
    font-size: 16px;
}


/*--- Two Block Panel ---*/

.four-panel-block {
    float: left;
    width: 100%;
}


/* ========== Who We Are ========== */

.widget {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}


/* ========== Copy Content Styles ========== */

.copy-content-sec {
    float: left;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    z-index: 1;
}

.copy-container {
    display: flex;
    align-items: center;
}

.copy-content {
    float: left;
    width: 100%;
}

.copy-content li i {
    float: left;
    width: 30px;
    margin-top: 5px;
    color: #5CB85C;
}


/* ========== Team Section ========== */

.team-section {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.team-footer {
    float: left;
    width: 100%;
    padding: 15px;
}

.team-footer h3 {
    font-size: 1.5rem;
    text-transform: capitalize;
}

.member-box {
    width: 100% float: left;
    position: relative;
    overflow: hidden
}

.member-box:hover>img {
    transform: scale(1.05);
    transition: 1s ease-in;
}

.member-box img {
    transition: 0.3s ease-in;
}

.member-box.t-bottom .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.member-box.t-center .overlay-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.member-box i.box-circle-solid {
    padding: 0;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}


/* style 1 */

.member-box.anim-lf .overlay-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    left: -100%;
    bottom: 0;
    width: 100%;
    height: 100%;
    transition: 0.4s ease-in;
}

.member-box.anim-lf:hover>.overlay-content {
    left: 0;
    transition: 0.4s ease-in;
}


/* style 1 */

.member-box.anim-bt .overlay-content {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
    bottom: -100%;
    width: 100%;
    height: 100%;
    transition: 0.6s ease-in;
}

.member-box.anim-bt:hover>.overlay-content {
    bottom: 0;
    transition: 0.4s ease-in;
}


/* ========== Testimonial Section ========== */

.testimonial-section {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.testimonial-section h2 {
    font-size: 3rem;
}

.testimonial-section .single-testimonial .carousel-item {
    margin: 0 15%;
    width: 70%;
}

.testimonial-section .single-testimonial .carousel-item-next,
.testimonial-section .single-testimonial .carousel-item-prev {
    top: 3rem;
}

.testimonial-section .single-testimonial .carousel {
    text-align: center;
}

.testimonial-section .single-testimonial .navigator-box {
    display: inline-block;
    position: relative;
    top: 0px;
}

.testimonial-section .single-testimonial .carousel-control-next,
.testimonial-section .single-testimonial .carousel-control-prev {
    border: 1px solid #b47f41;
    border-radius: 50%;
    color: #b47f41;
    display: block;
    float: left;
    font-size: 37px;
    margin: 0 4px;
    opacity: 1;
    padding: 0 23px;
    position: relative;
    width: 43%;
}

.testimonial-section .single-testimonial .carousel-control-next:hover,
.testimonial-section .single-testimonial .carousel-control-prev:hover {
    background-color: #b47f41;
    color: #fff;
}


/* ========== Footer Section ========== */

.footer-section {
    float: left;
    width: 100%;
    position: relative;
    z-index: 1;
}

.footer-section .list-box img {
    width: 70px;
}

.footer-section .list-box a.title {
    font-size: 14px;
    line-height: 0;
}

.footer-section .copy-text {
    font-size: 12px;
    border-top: 1px solid #555;
}

.social-box a.icoRss:hover {
    background-color: #F56505;
}

.social-box a.fa-box:hover {
    background-color: #3B5998;
}

.social-box a.tw-box:hover {
    background-color: #33ccff;
}

.social-box a.go-box:hover {
    background-color: #BD3518;
}

.social-box a.ld-box:hover {
    background-color: #007bb7;
}

ul.social-box {
    list-style: none;
    display: inline;
    margin-left: 0 !important;
    padding: 0;
}

ul.social-box li {
    display: inline;
    margin: 0 5px;
}

.social-box li a {
    background: #414344;
    border-radius: 50%;
    display: inline-block;
    font-size: 13px;
    height: 30px;
    margin: 0 auto;
    position: relative;
    text-align: center;
    width: 30px;
}

.social-box li i {
    margin: 0;
    line-height: 30px;
    text-align: center;
}

.social-box li a:hover i,
.triggeredHover {
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms--transform: rotate(360deg);
    transform: rotate(360deg);
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    -ms-transition: all 0.2s;
    transition: all 0.2s;
}

.social-box i {
    color: #fff;
    -webkit-transition: all 0.8s;
    -moz-transition: all 0.8s;
    -o-transition: all 0.8s;
    -ms-transition: all 0.8s;
    transition: all 0.8s;
}


/* ========== Copy Content Styles ========== */

.copy-content-sec {
    float: left;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    z-index: 1;
}

.copy-content-sec h2 {
    font-size: 3rem;
}

.copy-container {
    display: flex;
    align-items: center;
}

.copy-content {
    float: left;
    width: 100%;
}

.copy-content li i {
    float: left;
    width: 30px;
    margin-top: 5px;
    color: #5CB85C;
}

.faq-box .card {
    border-color: #35CBDF;
    margin-top: 10px;
}

.faq-box .card-header {
    background-color: #35CBDF;
    color: #fff;
}


/* ========== Price Table Styles ========== */

.price-section {
    float: left;
    width: 100%;
    padding: 5rem 0;
    position: relative;
    z-index: 1;
}

.price-section h2 {
    font-size: 2.5rem;
    font-weight: 700;
}

.price-section .price-block {}

.price-section .currency {
    font-size: 25px;
    vertical-align: super;
}

.price-section .price-count {
    font-size: 60px;
    line-height: 60px;
}

.price-section .price-block small {
    display: block;
    font-size: 15px;
}


/* ========== Responsive Stylings ========== */

@media (max-width: 991px) {
    .container {
        width: 100%;
    }
    .intro .intro-box {
        padding-left: 0;
        margin-bottom: 0;
    }
    .intro .intro-box span {
        margin-right: 10px;
    }
    .intro .intro-box .list-item {
        width: 85%;
    }
    .content-half ul li i {
        font-size: 20px;
    }
    .content-half ul li .list-content {
        width: 77%;
    }
    .content-half ul li strong {
        line-height: 0;
    }
    .testimonial-section .single-testimonial .carousel-item {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .widget h2 {
        font-size: 1.5rem;
    }
    .widget .counter {
        line-height: 0;
        font-size: 1.7rem;
    }
    .widget .fa-3x {
        font-size: 2rem;
    }
    .widget .stat-content h4 {
        font-size: 1.2rem;
    }
    .search-box {
        display: none;
    }
}

@media (max-width: 767px) {
    .container {
        width: 100%;
    }
    .intro .intro-form-small input[type="text"],
    .intro .intro-form-small input[type="password"] {
        width: 36%;
    }
    .intro .carousel-caption {
        top: 10%;
    }
    .widget.widget-counter .container {
        width: 100%;
    }
    .contact-section #map {
        height: 400px
    }
    #navbarSupportedContent {
        background: rgba(0, 0, 0, 0.5) none repeat scroll 0 0!important;
        padding: 30px 0
    }
    #navbarSupportedContent li {
        text-align: center;
    }
    #about .copy-container {
        background-color: rgba(255, 255, 255, 0.9);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
        padding: 30px;
    }
}

.action-sec-demo {
    position: fixed;
    background: #e08b28;
    width: 100%;
    bottom: 0;
    z-index: 99999;
    padding: 20px 0;
    height: 120px;
}

.btn-theme {
    background-color: #6a3f0c;
    color: #fff;
}

@import url(http://fonts.googleapis.com/css?family=Lato:400,700);
body {
    font-family: 'Lato', 'sans-serif';
}

.profile {
    min-height: 355px;
    display: inline-block;
}

figcaption.ratings {
    margin-top: 20px;
}

figcaption.ratings a {
    color: #f1c40f;
    font-size: 11px;
}

figcaption.ratings a:hover {
    color: #f39c12;
    text-decoration: none;
}

.divider {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.emphasis {
    border-top: 4px solid transparent;
}

.emphasis:hover {
    border-top: 4px solid #1abc9c;
}

.emphasis h2 {
    margin-bottom: 0;
}

span.tags {
    background: #1abc9c;
    border-radius: 2px;
    color: #f5f5f5;
    font-weight: bold;
    padding: 2px 4px;
}

.dropdown-menu {
    background-color: #34495e;
    box-shadow: none;
    -webkit-box-shadow: none;
    width: 250px;
    margin-left: -125px;
    left: 50%;
}

.dropdown-menu .divider {
    background: none;
}

.dropdown-menu>li>a {
    color: #f5f5f5;
}

.dropup .dropdown-menu {
    margin-bottom: 10px;
}

.dropup .dropdown-menu:before {
    content: "";
    border-top: 10px solid #34495e;
    border-right: 10px solid transparent;
    border-left: 10px solid transparent;
    position: absolute;
    bottom: -10px;
    left: 50%;
    margin-left: -10px;
    z-index: 10;
}


/*-----------------------------------------------------------------------*/

.text-facebook,
.hover-facebook-text:hover i,
.hover-facebook a:hover i {
    color: #3b5998;
}

.bg-facebook,
.btn-facebook {
    background-color: #3b5998;
    color: #fff;
}

.text-twitter,
.hover-twitter-text:hover i,
.hover-twitter a:hover i {
    color: #00aced;
}

.bg-twitter,
.btn-twitter {
    background-color: #00aced;
    color: #fff;
}

.text-instagram,
.hover-instagram-text:hover i,
.hover-instagram a:hover i {
    color: #b300ad;
}

.bg-instagram,
.btn-instagram {
    background-color: #b300ad;
    color: #fff;
}

.text-youtube,
.hover-youtube-text:hover i,
.hover-youtube a:hover i {
    color: #bd0000;
}

.bg-youtube,
.btn-youtube {
    background-color: #bd0000;
    color: #fff;
}

.text-gplus,
.hover-gplus-text:hover i,
.hover-gplus a:hover i {
    color: #eb5e4c;
}

.bg-gplus,
.btn-gplus {
    background-color: #eb5e4c;
    color: #fff;
}

.text-vimeo,
.hover-vimeo-text:hover i,
.hover-vimeo a:hover i {
    color: #35c6ea;
}

.bg-vimeo,
.btn-vimeo {
    background-color: #35c6ea;
    color: #fff;
}

.text-envelope,
.hover-envelope-text:hover i,
.hover-envelope a:hover i {
    color: #faa33d;
}

.bg-envelope,
.btn-envelope {
    background-color: #faa33d;
    color: #fff;
}

.text-linkedin,
.hover-linkedin-text:hover i,
.hover-linkedin a:hover i {
    color: #6697ff;
}

.bg-linkedin,
.btn-linkedin {
    background-color: #6697ff;
    color: #fff;
}

.text-telegram,
.hover-telegram-text:hover i,
.hover-telegram a:hover i {
    color: #30a8dc;
}

.bg-telegram,
.btn-telegram {
    background-color: #30a8dc;
    color: #fff;
}

.text-pinterest,
.hover-pinterest-text:hover i,
.hover-pinterest a:hover i {
    color: #bd081b;
}

.bg-pinterest,
.btn-pinterest {
    background-color: #bd081b;
    color: #fff;
}

.black a {
    color: #000;
}

.post-content ul {
    color: #474b5f;
}

.white a {
    color: #fff;
}


/*------------------------------------
	  Member area
  ------------------------------------*/

.sidebar-item.active,
.sidebar-item:hover {
    background-color: #fff;
    border: 1px solid #e6e7e9;
    border-right: 0;
    margin-right: -1px;
}

.sidebar-menu {
    border-bottom: 1px solid #e6e7e9;
    border-top: 1px solid #e6e7e9;
    border-right: 1px solid #e6e7e9;
    padding-bottom: 1rem;
    padding-top: 1rem;
    background-color: #f4f4f4;
}

.sidebar-item {
    position: relative;
    display: block;
    padding: 0.75rem 1.25rem;
    margin-bottom: 0.5rem;
    border: 1px solid transparent;
}

.sidebar-item.active:hover {
    background-color: #fff;
}

.card .icon-big {
    font-size: 3rem;
}

.card .icon-big .notif {
    position: absolute;
    min-width: 25px;
    border-radius: 5rem;
    font-size: 1rem;
    background: #dc3545;
    color: #fff;
}

.card .numbers {
    text-align: right;
}

.card .numbers p {
    font-size: 1rem;
    margin: 0;
}

.card .footer {
    padding: 0;
    line-height: 30px;
}

.side-notif {
    padding-left: 7px;
    padding-right: 7px;
    font-size: 0.8rem;
    border-radius: 5rem;
    background-color: #dc3545;
    color: #fff;
}

.statistics li {
    padding: 0.25rem 0;
}

.member-item:hover .card {
    background-color: #f4f4f4;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f4f4f4;
}

@media (max-width: 767.98px) {
    .sidebar-item.active,
    .sidebar-item:hover {
        border-right: 1px solid #e6e7e9;
        margin-left: 0.25rem;
        margin-right: 0.25rem;
    }
}


/*----------------------------------------------------------------------------------------------------*/

.breadcrumb-list>li {
    font-size: 14px;
    list-style: none;
    display: inline;
}

.breadcrumb-list>li a:after {
    content: "/";
    vertical-align: middle;
    margin: 0 5px;
    color: #7a7a7a;
}

.action-wishlist:hover,
.action-wishlist:focus {
    color: #fff;
}

.add-to-cart.action-wishlist {
    width: 50px;
    text-align: center;
    padding: 0;
}

.add-to-cart.action-wishlist i {
    margin-right: 0px;
}

.product-add-to-cart .cart-title,
.product-add-to-cart .cart-title:hover,
.product-list-action .cart-title,
.product-list-action .cart-title:hover {
    background-color: transparent;
    border-bottom: none;
    color: inherit;
}

.product-add-to-cart .pro-add-btn i,
.product-list-action .pro-add-btn i {
    margin-right: 10px;
    font-size: 18px;
}

.add-to-cart {
    display: inline-block;
}

.action-wishlist:hover,
.action-wishlist:focus {
    color: #fff;
}

.add-to-cart.action-wishlist i {
    margin-right: 0px;
}

.product-add-to-cart {
    float: none;
}

.single-product-wishlist {
    display: inline-block;
    position: relative;
    margin-left: 20px;
}

.product-thumbnail .owl-nav {
    display: none;
}

.breadcrumb-area {
    padding: 30px 0;
    background-color: #f3f3f3;
}

.breadmome-name {
    color: #ff6a00;
    font-size: 24px;
    font-weight: 500;
    text-transform: capitalize;
    margin: 0 0 18px;
}

.breadcrumb-content>ul>li {
    display: inline-block;
    list-style: none;
    position: relative;
    font-size: 14px;
    color: #333;
}

.breadcrumb-content>ul>li.active {
    color: #ff6a00;
}

.breadcrumb-content>ul>li:after {
    content: "/";
    vertical-align: middle;
    margin: 0 5px;
    color: #7a7a7a;
}

.breadcrumb-content>ul>li:last-child:after {
    display: none;
}

.mt-80 {
    margin-top: 80px
}

.mb-80 {
    margin-bottom: 80px
}

.single-product-name {
    font-size: 22px;
    text-transform: capitalize;
    font-weight: 900;
    color: #444;
    line-height: 24px;
    margin-bottom: 15px;
}

.single-product-reviews {
    margin-bottom: 10px;
}

.single-product-price {
    margin-top: 25px;
}

.single-product-action {
    margin-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid #ebebeb;
    border-bottom: 1px solid #ebebeb;
    float: left;
    width: 100%;
}

.product-discount {
    display: inline-block;
    margin-bottom: 20px;
}

.product-discount span.price {
    font-size: 28px;
    font-weight: 900;
    line-height: 30px;
    display: inline-block;
    color: #008bff;
}

.product-info {
    color: #333;
    font-size: 14px;
    font-weight: 400;
}

.product-info p {
    line-height: 30px;
    font-size: 14px;
    color: #333;
    margin-top: 30px;
}

.product-add-to-cart span.control-label {
    display: block;
    margin-bottom: 10px;
    text-transform: capitalize;
    color: #232323;
    font-size: 14px;
}

.product-add-to-cart {
    overflow: hidden;
    margin: 20px 0px;
    float: left;
    width: 100%;
}

.cart-plus-minus-box {
    border: 1px solid #e1e1e1;
    border-radius: 0;
    color: #3c3c3c;
    height: 49px;
    text-align: center;
    width: 50px;
    padding: 5px 10px;
}

.product-add-to-cart .cart-plus-minus {
    margin-right: 25px;
}

.cart-plus-minus {
    position: relative;
    width: 75px;
    float: left;
    padding-right: 25px;
}

.add-to-cart {
    background: #008bff;
    border: 0;
    border-bottom: 3px solid #0680e5;
    color: #fff;
    box-shadow: none;
    padding: 0 30px;
    border-radius: 3px;
    font-weight: 400;
    cursor: pointer;
    font-size: 14px;
    text-transform: capitalize;
    height: 50px;
    line-height: 50px;
}

.add-to-cart:hover {
    background: #ff6a00;
    border-color: #e96405;
}